{% extends 'base.html' %}
{% block body %}
<head> 

    <style>
        .img-container {
          text-align: center;
        }
      </style>

</head>
<body style="background-color:powderblue;">
    <h1 style="text-align:center">About Me</h1>
    <h2 style="text-align:center">Made By:Andy Liu</h2>
    
    <div class="img-container"> 
        <img src="/static/andy.jpg" alt="andy standing" style="width:500px;height:600px;">
      </div>
    
<br>
    <h3>About Me: My name is Andy Liu, and I am a 12th grader that goes to Oakland Technical highschool. 
      I chose climate change because I wanted to see its long-term effects. 
      I also wanted to see if there were any solutions to climate change already. 
      I was able to find many different answers, but it would take a long time till climate change would be removed. 
      So, now I want to know how would our future generation handle the climate. 
      Would they not care about it and keep burning CO2, or will they speak up and care.
    </h3>
  </br>
    <h3>
        Purpose: The main goal for this website is to inform the youth by making a game that would teach the 
        users about the effects and solution to climate change.
    </h3>

    

</body>

{% endblock %}