{% extends 'base.html' %}
{% block body %}
<head> 

    <style>
        .img-container {
          text-align: center;
        }
      </style>

</head>
<body style="background-color:powderblue;">
    <h1 style="text-align:center">About Us</h1>
    <h2 style="text-align:center">Made By:Andy Liu</h2>
    
    <div class="img-container"> 
        <img src="/static/leaf.jpg">
      </div>
    

    <h3>About Me: My name is Andy Liu and I am a 12th grader that goes to Oakland Technical highscool,
        I chose climate change because i wanted to see the effects of it long term. I also wanted to see if there were any solution to 
        climate change already. I was able to find a lot of different solutions but, it would take a long time for climate change to be removed.
        So, now i want to know how would our future generation handle climate would they not care about it and keep buring CO2 or they will
        speak up and care.
    </h3>
    <h3>
        Purpose: The main goal for this website is to inform the youth by making a game that would teach the 
        users about the effects and solution to climate change.
    </h3>

    

</body>

{% endblock %}