{% extends 'base.html' %}
{% block body %}
<head> 

    

</head>
<body style="background-color:rosybrown;">
    <h1 style="text-align:center">Climate Change</h1>

    <style>
        .climate{
          text-align: center;
        }
      </style>

    <div class="climate"> 
        <img src="/static/climate.jpg" alt="climate_change" style="width:600px;height:600px;">
      </div>
    
    <h3>What is climate change: Climate change is a change in the usual weather found in a place. 
        This could be a change in how much rain a place usually gets in a year. 
        Or it could be a change in a place's usual temperature for a month or season. The main causes for climate change is greenhouse
        gases because we humans use fuel and coal in our everyday life so, it would lead to trapped co2 in our atomsphere.</h3>
    <br></br>
    <h3>Examples of greenhouse gas emissions that are causing climate change include carbon dioxide and methane. 
        These come from using gasoline for driving a car or coal for heating a building, for example. 
        Clearing land and forests can also release carbon dioxide. Landfills for garbage are a major source of methane emissions. 
        Energy, industry, transport, buildings, agriculture and land use are among the main emitters.</h3>
    <br></br>
    <h3>How does Climate Change affect our everyday life? Climate change can also impact human health by worsening air and water quality, 
    increasing the spread of certain diseases, and altering the frequency or intensity of extreme weather events</h3>

    

</body>

{% endblock %}