{% extends 'base.html' %}
{% block body %}

<head>

    <style>
        .img-container{
            text-align:center;
        }
    </style>

</head>

<body>

    <h2 style="text-align:center;"> Congrats you have made Earth a better place. 
        You have created a world where there is little trace or no climate change at all.
        Please share this website with all your friends or family. Please go to the post so you can
        put your thoughts about the website.
    </h2>


<div class="img-container">
<img src="/static/perfect.jpg" width="800" height="500">
</div>

<h2>
    <button type="go back" onclick="location.href='/intro'" style="position:relative; right:-470px">Back To Home Screen</button>
    
</h2>






</body>

{% endblock %}