{% extends 'base.html' %}
{% block body %}

<head>

</head>

<body>
<h2 style="text-align:center;">It has seen like you have choosen a car that uses gasoline. Although a lambo or any luxury car
    is cool and all but, Car pollution is one of the major causes of global warming. 
    Cars and trucks emit carbon dioxide and other greenhouse gases, which contribute one-fifth of the United States' 
    total global warming pollution.
</h2>

<br>

</br>


<h2>
    A little Fun Fact is that a gallon of gasoline weighs 6 pounds. 
    When it is burned in our cars, the carbon pulls an additional 14 pounds of oxygen from the air to make a total of 20 pounds of carbon dioxide, the greenhouse gas that is the main driver of climate change.
</h2>

<button type="go next" onclick="location.href='/school'">Next</button>

<button type="go back" onclick="location.href='/good'">Back</button>
</body>

{% endblock %}