{% extends 'base.html' %}
{% block body %}

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="explosion">
<h2 style="text-align:center;" class="whiteman">It has seen like you have choosen Gas as your energy source. This source of energy is bad for the earth because when we use gas, fossil fuels
    would be emitted into the atomsphere which would co2 would be released into the air. If we continue using gas as our energy source 
    for the next 100 years our atomsphere would be filled with co2 particles and as a result of that it would increase our earth's tempurture or even 
    drastically increase climate change.
</h2>

<button type="go next" onclick="location.href='/good'">Next</button>

<button type="go back" onclick="location.href='/city'">Back</button>

</body>

{% endblock %}