{% extends 'base.html' %}
{% block body %}
<head>

    <style>
        .img-container{
            text-align: center;
        }
        .center{
            text-align:center;
        }
        .center2{
            text-align: center;
        }
    </style>
</head>

<body style="background-color:rgb(193, 199, 196);">
    <h1 style="text-align: center;">Pick a car that you do use daily?</h1>

    <h2 style="text-align: center;">Cybertruck,Tesla Model X, Lamborghini Aventador, or Honda Civic</h2>

<div class="img-container">
    
    <img src="/static/cyber.jpg" width="550" height="400" style="position:relative; left:-150px;">

    <img src="/static/tesla.jpg" width="550" height="400" style="position:relative; right:-150px;">
    
    <img src="/static/lambo.jpg" width="550" height="400" style="position:relative; left:-150px; top:100px;">
    
    <img src="/static/honda.jpg" width="550" height="400" style="position:relative; right:-150px; top:100px;">

</div>

<div class="center">

    <button type="cyber" style="position:relative; right:390px; top:-400px;" onclick="location.href='/school'">Select Me!</button>

    <button type="tesla.jpg" style="position:relative; left:390px; top:-400px;" onclick="location.href='/school'">Select Me!</button>

</div>

<div class="center2">

    <button type="lambo" style="position:relative; right:390px; top:70px;" onclick="location.href='/gascar'">Select Me!</button>

    <button type="honda.jpg" style="position:relative; left:390px; top:70px;" onclick="location.href='/gascar'">Select Me!</button>
</div>
</body>

 
{% endblock %}