{% extends 'base.html' %}
{% block body %}

<head>

    <style>
        .center{
            text-align: center;
        }
    </style>


</head>

<body>
<h1 style="text-align: center;">Welcome To My Game!!</h1>
<br>

</br>
<h2 style="text-align:center;">Instruction: In this mini-game you would find which option is good for the climate.
    If you didn't get it right you would learn why it is bad for the climate. Click Next to play the game.
</h2>

<br>

</br>

<Div class="center">
<h2>

    <button type="game" onclick="location.href='/game'">Next</button>

</h2>

</Div>

</body>

 
{% endblock %}