{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                Full Name <br>
                {{ form.subject(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                What did you learn? <br>
                {{ form.content(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.content.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                How to improve this website?<br>
                {{ form.content2(cols=64, rows=10) }}
                {% for error in form.content2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
