{% extends 'base.html' %}
{% block body %}
<head> 
  

</head>
<body style="background-color:#eee600;">
    
    <h1 style="text-align:center">What We Can Do To Reduce Climate Change?</h1>

    <img src="/static/solution.jpg" style="width:700px;height:600px;" >
    <br></br>
    <h2>Common solution to reduce the spread of Climate change is to reduce the usage of coal or release of co2 in the air because 
        due too greenhouse gases if a lot of co2 gets caught in our atomsphere it would heat up the earth. Using Soloar Energy is
        also a good way to reduce the spread of climate change because we would use the sun for energy instead of coal or nuclear energy.
        Another way to to reduce the spread of Climate change is to reduce our carbon footprint. Instead of driving a vehicle that uses
        gas as there fuel we should start using electric cars or bike to the place we want to go. These are a few examples on
        how we can reduce climate change. 
    </h2>    
    

</body>

{% endblock %}