{% extends 'base.html' %}
{% block body %}

<head>
<style>
    .img-container{
        text-align: center;
    }
    .center{
        text-align: center;
    }
    .center2{
        text-align: center ;
    }
</style>
</head>

<body>

<h1 style="text-align:center">What type of energy would you use daily</h1>
<div class="img-container">
    <h2>Solar,Electric,Gas, or Wind Turbine</h2>

    <img src="/static/solar.jpg" style="width:400px;height:400px; position:relative; left:-100px;">

    <img src="/static/electric.jpg" style="width:400px;height:400px;"> 

    <img src="/static/gas.jpg" style="width:400px;height:400px; position:relative; right:-100px;">

</div>

<div class="center">
    <button type="solar" style="position:relative; left:-400px" onclick="location.href='/good'">Select Me!</button>

    <button type="electric" style="position:relative; right:100" onclick="location.href='/result'">Select Me!</button>

    <button type="gas" style="position:relative; right:-400px" onclick="location.href='/gasresult'">Select Me!</button>


</div>
<div class="center2">
    <img src="/static/wind.jpg" style="width:400px;height:400px; position: relative; top:100px;">

</div>

<button type="wind" style="position:relative; right:-600px; top:100px;" onclick="location.href='/good'">Select Me!</button>

</body>

{% endblock %}
