{% extends 'base.html' %}
{% block body %}
<head> 
    <style>
        .img-container {
          text-align: center;
        }
        h1{text-align: center;}
      </style>

</head>
<body style="background-color:#ff7f50;">
    
    <h1 style="text-align:center">Younger Generation</h1>

    <div class="img-container"> 
        <img src="/static/climatestrike.jpq.jpeg" alt="andy standing" style="width:500px;height:400px;">
      </div>
    
      <h3>As the climate gets hotter and hotter the younger generations needs to raise up and protest against it because our earth
          is slowly dying and sea level is also rising. Once all the icebreg melts the sea level would increase meaning there is a chance
          that somewhere would get flooded. Farmers would get affected by climate changes because crops would have a stunt growth or
          have a delayed growth.
      </h1>
</body>

{% endblock %}